body {
    background-color: black;
    color: #fff;
}

.cabecalho {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;


}

.menu {
    display: flex;
    gap: 30px;
}

.logo .logo-uarles {
    height: 80px;
    width: 80px;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Roboto-Blackitalic';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid #fff;
}

main {
    height: 900px;
    display: flex;
    position: relative;
}

main::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);

}


.imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

main .informacoes  {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);

}

main .informacoes {
    margin-top: 20px;
}


main .informacoes .sobre-mim {
    font-size: 20px;
    padding: 10px;
    padding: 0 80px;
    margin-top: 100px;

}

main .informacoes .segundo-texto {
    margin-top: 9px;
}

.qualificacao {
    text-align: center;
    font-size: 40px;
}




.experiencia {
    padding: 0 80px;
}

.experiencia .exper {
    border: 4px solid rgb(42, 42, 53);
    padding: 7px;
    width: 280px;
    margin: 20px 600px;
}

.experiencia .exper .exper-titulo {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto-Medium';
    text-align: center;

}

.experiencia .html-css-javascript {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.experiencia .icone-html {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
    
}

.experiencia .icone-html {
    color: #fff;
    width: 20%;
    cursor: pointer;
}

.experiencia .icone-html:hover {
    background-color: rgb(42, 42, 53);
}

.experiencia .html {
    width: 80px;
    height: 80px;
    margin: 0;

}

.experiencia .text-html {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;

}

.experiencia .text-html.ativo {
    display: flex;
    opacity: 1;
}

.experiencia h2 {
    font-family: 'Roboto-Blackitalic';
    color: #fff;
}

.experiencia .icone-css {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;

}

.experiencia .icone-css {
    color: #fff;
    width: 20%;
    cursor: pointer;
}


.experiencia .icone-css:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .css {
    width: 80px;
    height: 80px;
}

.experiencia .text-css {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-css.ativo {
    display: flex;
    opacity: 1;
}

.experiencia .icone-javascript {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-javascript {
    color: #fff;
    width: 20%;
    cursor: pointer;
}


.experiencia .icone-javascript:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .javascript {
    width: 80px;
    height: 80px;
}

.experiencia .text-javascript {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-javascript.ativo {
    display: flex;
    opacity: 1;
}



.experiencia .java-sql-mysql {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.experiencia .java {
    width: 80px;
    height: 80px;
}

.experiencia .icone-java {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-java {
    color: #fff;
    width: 20%;
    cursor: pointer;
}



.experiencia .icone-java:hover {
    background-color:  rgb(42, 42, 53);
}


.experiencia .text-java {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-java.ativo {
    display: flex;
    opacity: 1;
}


.experiencia .sql {
    width: 80px;
    height: 80px;
}

.experiencia .icone-sql {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-sql {
    color: #fff;
    width: 20%;
    cursor: pointer;
}


.experiencia .icone-sql:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .text-sql {
    font-family: 'Roboto-Medium';
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-sql.ativo {
    display: flex;
    opacity: 1;
}


.experiencia .mysql {
    width: 80px;
    height: 80px;
}

.experiencia .icone-mysql {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-mysql{
    color: #fff;
    width: 20%;
    cursor: pointer;
}



.experiencia .icone-mysql:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .text-mysql {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-mysql.ativo {
    display: flex;
    opacity: 1;
}

.experiencia .php-react-complementar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.experiencia .php {
    width: 100px;
    height: 100px;

}

.experiencia .icone-php {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-php {
    color: #fff;
    width: 20%;
    cursor: pointer;
}



.experiencia .icone-php:hover {
    background-color:  rgb(42, 42, 53);
}


.experiencia .text-php {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-php.ativo {
    display: flex;
    opacity: 1;
}

.experiencia .react {
    width: 80px;
    height: 80px;
}

.experiencia .icone-react {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-react{
    color: #fff;
    width: 20%;
    cursor: pointer;
}



.experiencia .icone-react:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .text-react {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-react.ativo {
    display: flex;
    opacity: 1;
}

.experiencia .complementar {
    width: 80px;
    height: 80px;
}

.experiencia .icone-complementar {
    margin-top: 80px;
    gap: 20px;
    border: 4px solid  rgb(42, 42, 53);
    background-color: black;
    text-align: center;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.experiencia .icone-complementar{
    color: #fff;
    width: 20%;
    cursor: pointer;
}

.experiencia .icone-complementar:hover {
    background-color:  rgb(42, 42, 53);
}

.experiencia .text-complementar {
    font-family: 'Roboto-Medium';
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    transition: all .3s ease-in; 
    display: none;
    opacity: 0;
}

.experiencia .text-complementar.ativo {
    display: flex;
    opacity: 1;
}
.formacao {
    margin-top: 100px;
    padding: 0 80px;
}


.formacao .exper-formacao {
    border: 4px solid rgb(42, 42, 53);
    padding: 7px;
    width: 230px;
    margin: 20px 600px;

}

.formacao .exper-formacao .text-formacao {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto-Medium';
    text-align: center;

}

.formacao .tipo-formacao {
    margin-top: 100px;
}

.formacao h2 {
    font-family: "Roboto-Blackitalic";
}

.formacao .ano {
    text-align: center;
    padding: 10px;
}

.formacao .informatica-ensino-desenvolvimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}

.formacao .informatica-basica {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 450px;
    text-align: center;

}

.formacao .ensino-medio {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 480px;
    text-align: center;
}

.formacao .desenvolvimento-de-sistemas {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 490px;

}

.formacao .javascript-sql-react {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    
}

.formacao .javascript {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 480px;
    text-align: center;

}

.formacao .sql {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 480px;
    text-align: center;
}

.formacao .react {
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 480px;
    text-align: center;

}

.projetos {
    margin-top: 100px;
    padding: 0 80px;
}

.projetos .exper-projetos {
    border: 4px solid rgb(42, 42, 53);
    padding: 7px;
    width: 230px;
    margin: 20px 600px;
}

.projetos .redes {
    margin-top: 100px;
}

.projetos .text-projetos {
    font-family: "Roboto-Blackitalic";
    font-size: 40px;
    text-align: center;
}

.projetos .mario-xmen-lista {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    
}

.projetos .one-aplicativo-gta {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    
}

.projetos a {
    font-family: "Roboto-Medium";
    border: 4px solid  rgb(42, 42, 53);
    padding: 10px;
    border-radius: 6px;
    display: block;
    width: 520px;
    height: 120px;
    text-align: center;

}

.redes .vc {
    margin-top: 25px;
    font-size: 30px;
}

.projetos a:hover {
    background-color: rgb(93, 93, 111);
    font-family: "Roboto-Blackitalic";
    color: #0b0b0b;
    font-size: 30px;

}



.contatos {
    padding: 0 80px;
    margin-top: 100px;
}

.contatos img {
    width: 50px;
    height: 50px;
}

.contatos a {
    align-items: center;
}

.contatos .exper-contatos {
    border: 4px solid rgb(42, 42, 53);
    padding: 7px;
    width: 230px;
    margin: 20px 600px;
}

.contatos .text-contatos {
    font-family: "Roboto-Blackitalic";
    font-size: 40px;
    text-align: center;
}

.contatos .redes-sociais {
    display: flex;
    margin-left: 608px;
    margin-top: 100px;
    gap: 20px;
}

.contatos h1 {
    font-size: 15px;
}









